@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

.flx-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flx-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jc-sb {
  justify-content: space-between;
}

.flx-row>* {
  flex: 1;
}