<div class="card">
  <img
    *ngIf="product.imageUrl"
    src="{{ product.imageUrl }}"
    class="card-img-top"
    alt="..."
    style="padding: 40px"
  />
  <img
    *ngIf="!product.imageUrl"
    src="assets/images/cubes.png"
    class="card-img-top"
    alt="..."
    style="padding: 40px"
  />
  <h5 class="card-header">{{ product.name }}</h5>
  <div class="card-body">
    <span
      class="btn btn-primary mx-1"
      *ngFor="let cat of product.categories.split(',')"
      >{{ cat }}</span
    >
  </div>
  <div class="card-footer">
    <product-cart-control [product]="productForModel" />
  </div>
</div>
