<li class="nav-link">
  <shopping-cart [style]="'mini'" />
</li>

<ng-container *ngIf="!authenticatedUser">
  <li class="nav-link">
    <button class="btn btn-outline-light ms-2" type="button" (click)="startOAuthLogin()">
      Login
    </button>

    <button class="btn btn-outline-light ms-2" type="button" (click)="navigateToSignUp()">
      Sign up
    </button>
  </li>
</ng-container>

<ng-container *ngIf="authenticatedUser">

  <li class="nav-link">
    <span>{{ authenticatedUser.email }}</span>
  </li>

  <li class="nav-item" *ngIf="authenticatedUser.isCustomer">
    <a routerLink="/my/profile" class="nav-link">My Profile</a>
  </li>

  <li class="nav-item" *ngIf="authenticatedUser.isAdmin">
    <a routerLink="/admin/orders" class="nav-link">All orders</a>
  </li>

  <li class="nav-link">
    <button (click)="logout()">Logout</button>
  </li>
</ng-container>