<div class="timeline mb-4">
    <div class="step" [class.active]="order.statusId==0" [class.completed]="order.statusId>=0">
        <div class="circle">1</div>
        <div class="label">Created</div>
    </div>

    <div class="step" [class.active]="order.statusId==1" [class.completed]="order.statusId>1">
        <div class="circle">2</div>
        <div class="label">Processing</div>
        <button class="next-btn" *ngIf="order.statusId==1" [modalToTrigger]="modal">Next →</button>
    </div>

    <div class="step" [class.active]="order.statusId==2" [class.completed]="order.statusId>2">
        <div class="circle">3</div>
        <div class="label">Shipping Started</div>
        <button class="next-btn" *ngIf="order.statusId==2" [modalToTrigger]="modal">Next →</button>
    </div>

    <div class="step" [class.active]="order.statusId==3" [class.completed]="order.statusId>3">
        <div class="circle">4</div>
        <div class="label">Shipped</div>
        <button class="next-btn" *ngIf="order.statusId==3">Next →</button>
    </div>

    <div class="step" [class.active]="order.statusId==4" [class.completed]="order.statusId>4">
        <div class="circle">4</div>
        <div class="label">Recieved by delivery guy</div>
        <button class="next-btn" *ngIf="order.statusId==4">Next →</button>
    </div>

    <div class="step" [class.active]="order.statusId==5" [class.completed]="order.statusId>5">
        <div class="circle">4</div>
        <div class="label">Completed</div>
    </div>
</div>

<bootstrap-modal title="Update status to Shipping started" #modal>
    <order-ship-started-form *ngIf="order.statusId==1" (submitted)="onStatusFormSubmitted($event)" />
    <order-shiped-form *ngIf="order.statusId==2" (submitted)="onStatusFormSubmitted($event)" />
</bootstrap-modal>