<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Pay with Card</h5>
                </div>
                <div class="card-body">

                    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                        <customer-profile [isReadOnly]="true" [displayDeliveryAddresses]="false"
                            (onPaymentCardSelected)="setPaymentCard($event)" />

                        <div class="row mt-3 g-2">
                            <div class="col-6">
                                <label class="form-label">CVV</label>
                                <input type="password" class="form-control" formControlName="cvv" maxlength="3"
                                    placeholder="123" />
                                <div class="invalid-feedback d-block" *ngIf="f['cvv'].touched && f['cvv'].invalid">
                                    Invalid
                                    CVV.</div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-primary" type="submit"
                                [disabled]="isSubmitting || paymentForm.invalid">{{ isSubmitting ?
                                'Processing...' : 'Pay now' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>