<ng-container *ngIf="isReadOnly">
  <customer-shipping-addresses
    *ngIf="myProfile"
    [addresses]="myProfile.addresses"
    [style]="isReadOnly ? 'select' : 'list'"
  />
</ng-container>

<!-- <form class="form-group">
  <label class="form-label">Shipping addresse</label>
  <select class="form-control">
    <option value="" disabled selected>Select Country</option>
    <option *ngFor="let country of countries" [value]="country.id">
      {{ country.name }}
    </option>
  </select>
</form> -->
