<ng-container *ngIf="isReadOnly">
  <customer-shipping-addresses *ngIf="myProfile && displayDeliveryAddresses" [addresses]="myProfile.addresses"
    [style]="'select'" (onDeliveryAddressSelected)="emitOnDeliveryAddressSelected($event)" />

  <customer-payment-cards *ngIf="myProfile && displayPaymentCards" [paymentCards]="myProfile.paymentCards"
    [style]="'select'" (onPaymentCardSelected)="emitOnPaymentCardSelected($event)" />
</ng-container>

<ng-container *ngIf="!isReadOnly">
  <customer-shipping-addresses *ngIf="myProfile" [addresses]="myProfile.addresses" [style]="'list'" />

  <customer-payment-cards *ngIf="myProfile" [paymentCards]="myProfile.paymentCards" />

</ng-container>