<ng-container *ngIf="isFullStyle">
  <div class="row mb-5">
    <div *ngFor="let cartItem of cartItems" class="col-3">
      <div class="card">
        <img
          src="{{ cartItem.productImageUrl }}"
          class="card-img-top"
          alt="..."
          style="padding: 40px"
        />

        <h5 class="card-header">{{ cartItem.productName }}</h5>
        <product-cart-control
          [productItemIds]="cartItem.itemIds"
          [cartItem]="cartItem"
        />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="style !== 'checkout'">
    <button class="btn btn-primary" routerLink="/cart/checkout">
      Checkout
    </button>
  </div>
</ng-container>

<ng-container *ngIf="!isFullStyle">
  <button class="nav-link" routerLink="/cart">
    Cart
    <span class="badge rounded-pill text-bg-primary">
      {{ cartItemsFalttenedCount }}
    </span>
  </button>
</ng-container>
